# macOS
.DS_Store

# VSCode / workspace
*.code-workspace

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# wandb runs
notebooks/wandb/
speciesnet/wandb/

# datasets (adjust if your path is different)
datasets/
ct_classifier/datasets/

# envs
.env
.venv/
notebooks/full_df_filled.csv
notebooks/raw/full_df.csv
notebooks/full_df_filtered.csv
notebooks/all_image_links_*.json
